---
import PageLayout from '@/layouts/CommonPage.astro'
import links from 'public/links.json'

import FriendList from '@/components/links/FriendList.astro'
import Comment from '@/components/pages/Comment.astro'
import { Collapse, Timeline } from '@/components/user'
import { siteConfig } from '@/site-config'

const headings = [
  {
    depth: 2,
    slug: 'common-links',
    text: 'Regular Friend Links'
  },
  {
    depth: 2,
    slug: 'special-links',
    text: 'Special Links'
  },
  {
    depth: 2,
    slug: 'apply-links',
    text: 'Apply for A Friend Link'
  }
]

const friendlist = links.friends
---

<PageLayout title='Friend' headings={headings} info='/links'>
  <p>The links are placed randomly~</p>
  <h2 id='common-links'>Regular Friend Links</h2>
  <FriendList list={friendlist[0]} />
  <Collapse title='Inactive Friend Links'>
    <FriendList list={friendlist[1]} />
  </Collapse>
  <Collapse title='Friend Link Record Book'>
    <Timeline
      events={[
        { date: '2024-07-23', content: 'Ethan' },
        { date: '2024-05-13', content: 'Emoairx' },
        { date: '2024-05-01', content: 'Arthals\' ink' },
      ]}
    />
  </Collapse>
  <FriendList list={friendlist[2]} title='Special Links' />

  <!-- apply-links -->
  <h2 id='apply-links'>Apply for A Friend Link</h2>
  <p>The information on this site is as follows: </p>
  <blockquote class='not-prose border-s-4 ps-4'>
    <p>Name: <code>{siteConfig.links.applyTip.name}</code></p>
    <p>Introduction: <code>{siteConfig.links.applyTip.desc}</code></p>
    <p>Link: <code>{siteConfig.links.applyTip.url}</code></p>
    <p>Icon: <code>{siteConfig.links.applyTip.avatar}</code></p>
  </blockquote>

  <p>
    Friend Link Application Instructions: 
  </p>
  <ul>
    <li>Add this site to your friend links</li>
    <li>Ensure your site is activated</li>
    <li>Contact me via my <a href="mailto:lyt0112@outlook.com" target="_blank">email</a></li>
  </ul>
  <Comment slot='bottom' />
</PageLayout>
